@charset "utf-8";
.header{background-color:#EF78B3; font:bolder; font-size:18px; color:white; text-align:center; padding:20px; height:55px;}

.gallery{ border:2px solid #F901AB; width:197px; margin:80px; float:right;}

.gallery:hover{border:2px solid black;}

.gallery img{ width:100%; height:200px;}

.arrange{ text-align:center; padding:15px;  font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif}